<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app
        xmlns="http://xmlns.jcp.org/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
        version="3.1"
>
  <display-name>Cars for sale</display-name>
  <servlet>
    <servlet-name>CreatAdvertServlet</servlet-name>
    <servlet-class>ru.job4j.cars.controllers.CreatAdvertServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ShowAllAdvServlet</servlet-name>
    <servlet-class>ru.job4j.cars.controllers.ShowAllAdvServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CarDescriptionServlet</servlet-name>
    <servlet-class>ru.job4j.cars.controllers.CarDescriptionServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DownloadServlet</servlet-name>
    <servlet-class>ru.job4j.cars.controllers.DownloadServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AuthServlet</servlet-name>
    <servlet-class>ru.job4j.cars.controllers.AuthServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegServlet</servlet-name>
    <servlet-class>ru.job4j.cars.controllers.RegServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>ru.job4j.cars.controllers.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>UserNameServlet</display-name>
    <servlet-name>UserNameServlet</servlet-name>
    <servlet-class>ru.job4j.cars.controllers.UserNameServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>UserIdServlet</display-name>
    <servlet-name>UserIdServlet</servlet-name>
    <servlet-class>ru.job4j.cars.controllers.UserIdServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>CreatAdvertServlet</servlet-name>
    <url-pattern>/addCar</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowAllAdvServlet</servlet-name>
    <url-pattern>/showAll</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CarDescriptionServlet</servlet-name>
    <url-pattern>/carDesc</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DownloadServlet</servlet-name>
    <url-pattern>/download</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AuthServlet</servlet-name>
    <url-pattern>/auth.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegServlet</servlet-name>
    <url-pattern>/reg.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserNameServlet</servlet-name>
    <url-pattern>/userName</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserIdServlet</servlet-name>
    <url-pattern>/userId</url-pattern>
  </servlet-mapping>


  <filter>
    <filter-name>AuthFilter</filter-name>
    <filter-class>ru.job4j.cars.filter.AuthFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthFilter</filter-name>
    <url-pattern>/index.html</url-pattern>
  </filter-mapping>
</web-app>
